<ul class="bg-white p-4 flex flex-col gap-4 border border-solid shadow">
  <% accounts.each do |account| %>
    <li>
      <div href="#" class="flex flex-row items-center justify-between gap-2 rounded bg-gray-50 p-4 overflow-hidden hover:bg-gray-100 hover:shadow">
        <div class="text-sm text-white font-medium mr-2 px-2 py-1 rounded" style="background-color: <%= account.color %>"><%= account.title %></div>
        <div><%= account.balance.format %></div>

        <div>
          <%= edit_button(account) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
