<div class="flex items-center gap-2">
  <%= radio_button_tag "", content, checked, disabled: disabled, class: radio_classes, **html_options %>
  <%= label_tag label_for, content, class: label_classes %>
</div>
