<aside class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full border-r border-gray-200 bg-white pt-14 transition-transform md:translate-x-0" aria-label="Sidenav" id="drawer-navigation">
  <div class="flex h-full flex-col justify-between overflow-y-auto bg-white px-3 py-5">
    <ul class="space-y-2">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </ul>
  </div>
</aside>
