<%= render Application::FrameComponent.new(current_user: current_user, current_controller: controller) do %>
  <%= mdn_main_content(title: t(".header_title")) do %>
    <%= render Accounts::ListComponent.new(accounts: accounts) %>

    <div class="mt-4">
      <%= mdn_button(builder: :link_to, href: new_account_path) { t(".new_account") } %>
    </div>
  <% end %>
<% end %>
